server:
  port: 8761

spring:
  application:
    name: discovery-server

eureka:
  client:
    # Do not register itself
    register-with-eureka: false
    # Do not need to consult the registry
    fetch-registry: false
